.trackWorkoutSection{
    width: 100%;
    margin-top: 8rem;
    padding: 0 5%;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
}
.startWorkoutSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    button{
        color: #f1f1f1;
        background-color: #1d9f09;
        border: none;
        padding: 8px;
        border-radius: 8px;
        font-size: 1rem;
    }
}
.searchWorkoutContainer{
    width: clamp(320px, 60%, 60rem);
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.searchWorkout{
    align-self: center;
    width: 100%;
    height: 2.1rem;
    font-size: 1.3rem;
    text-align: center;
    outline: none;
    border-radius: 20px;
    border: none;
}
.searchWorkoutActive{
    border-radius: 20px 20px 0 0;
}
.searchAddButton{
    border-radius: 0 20px 20px 0;
    color: #f1f1f1;
    background-color: #1d9f09;
    border: none;
    font-size: 1rem;
    height: 2.1rem;
    width: 5rem;
    position: absolute;
    top: 0;
    right: 0;
}
.searchAddButtonActive{
    border-radius: 0 20px 0 0;
}
.suggestionsContainer{
    color: #323d42;
    background-color: #f1f1f1;
    width: 100%;
    max-height: 20.7rem;
    text-align: center;
    overflow-y: hidden;
    position: absolute;
    top: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.suggestionItem{
    cursor: pointer;
    transition: background-color 0.3s;
}
.suggestionItem:hover{
    background-color: #c7c6c6;
}